.navbar {
  padding: 2rem;
  font-size: 1.2rem;
}

.navbar-brand {
  font-size: 1.7rem;
  font-family: "Phudu", cursive;
  color: white;
}

.nav-link {
  color: white;
  font-family: "Phudu", cursive;
}
