/* Seccion Hero */

.seccion-historia {
  padding-top: 5rem;
  padding-bottom: 5rem;

  h1 {
    padding-bottom: 3rem;
  }
}

/* Seccion Videos */

.seccion-videos {
  padding-top: 5rem;
  padding-bottom: 5rem;

  .video {
    width: 550px;
    height: 300px;
  }
}

.titulo-videos {
  padding-bottom: 3rem;
}
