/* Local */

.imagen-mapa {
  padding: 40px;
}

.descripcion-mapa {
  padding: 2rem;
}

.img-ubicacion {
  padding: 1.5rem;

  .imagen-ubicacion {
    width: 450px;
    height: 500px;
    border-radius: 50px;
  }
}

.mapa-ubicacion {
  padding: 1.5rem;

  .mapa {
    width: 450px;
    height: 500px;
    border-radius: 50px;
  }
}
